html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*, *:after, *:before {
    box-sizing: inherit;
}
body {
    width: 800px;
    margin: 0 auto;
    font-size: 12px;
}
header {
    width: 800px;
    height: 110px;
    color:chartreuse;
    padding-left: 10px;
    padding-right: 10px;
    background-color: gold;
}
h1 {
    color:darkgreen;
    font-size: 2rem;
}
.nav{
    margin-top: 30px;
    display: flex;
}
.nav-list {
    list-style: none;
    margin-right: 20px;
}